/ {
    leds {
        led_ds2: led_ds2 {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
            label = "DS2 LED";
            status = "okay";
        };
    };

    buttons {
        fault: fault {
            gpios = <&gpio0 20 0>;
            label = "TMC Fault (inverted)";
            status = "okay";
        };

        btn: btn {
            gpios = <&gpio0 15 0>;
            label = "User button";
            status = "okay";
        };
    };
};

#ifndef ESTI_NESIMTIT
&spi0 {
    tmc9660: tmc9660@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <100000>;
        label = "TMC9660";
        status = "okay";
    };
};
#endif

&clk_erfo {
    clock-frequency = < 24576000 >;
};
